<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Virginia - Simple Leaflet Map</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" type="text/css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<style>
*{margin:0; padding:0; border:none;}
.content{text-align:center;}
#leaflet-map{
  width:1000px; 
  height:700px;
}


div.leaflet-map-box{outline:2px dotted #000; padding:30px; width:100%;}
.leaflet-map-panel-box{width:200px; float:right;}
div.leaflet-map-box ul{width:50px; margin:10px auto;}
</style>
  </head>
  <body>
    <div class="content">
      <div class="leaflet-map-box">
      <div class="leaflet-map-panel-box"></div>
        <div id="leaflet-map"></div>
        
      </div>
    </div>
  </body>
<script>
// virginia setView settings var map = L.map('map').setView([37.750, -79.0000], 7);
// initialize the map
var map = L.map('leaflet-map').setView([37.750, -79.0000], 7);
  // load a tile layer
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
    {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> Imagery Â© <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 17,
      minZoom: 7
    }).addTo(map);



  // data.features.property
  var dataConnector01 = [];
  var key01 = []
  // load GeoJSON from an external file
  $.getJSON("virginia-counties-census-2000-novars.geojson",function(data){
    // add GeoJSON layer to the map once the file is loaded
    L.geoJson(data).addTo(map);


    $.each(data.features, function(propertyIndex, property){
      dataConnector01.push("County: " + this.properties.County);
      dataConnector01.push("Area: " + this.properties.area);
      dataConnector01.push("Perimeter: " + this.properties.Perimeter);
      dataConnector01.push("c051_D00_: " + this.properties.CO51_D00_);
      dataConnector01.push("State: " + this.properties.State);
      dataConnector01.push("County: " + this.properties.County);
      dataConnector01.push("name: " + this.properties.name);
      dataConnector01.push("lsad: " + this.properties.lsad);
      dataConnector01.push("Population Density Rank: " + this.properties.popdensityrank);
      dataConnector01.push("Density: " + this.properties.density);
      dataConnector01.push("Population: " + this.properties.population);
      key01.push(this.properties.County);


 var dataConnector02 = [];
 var dataConnector03 = [];
 var dataConnector04 = [];
 var dataConnector05 = [];

 var keys = [];
$.getJSON( "member-senate-of-virginia-017-novars.json", function( data ) {
  $.each(data.Localities, function(entryIndex, entry){
    dataConnector02.push(this.Locality.LocalityCode);
    dataConnector03.push(this.Locality.LocalityName);
    dataConnector04.push(this.Locality.ElectionName);
    dataConnector05.push(this.Locality.ElectionDate);
  })
  console.log("JSON Data Connector 02: " + dataConnector02);
  console.log("KEY VAR: " + key01);


  var connections = [];
  for (i = 0; i < dataConnector02.length; i++) {
    var partA = dataConnector02[0];
    var partB = key01[i];
    console.log(key01[i] + ", " + dataConnector02[0]);

    

    for (w = 0; w < key01.length; w++){
      var partC = key01[0];
      // var connections = [];
      if (key01[w] === dataConnector02[i]) {
        console.log("IF STATMENT TEST: " + key01[w] + ", " + dataConnector02[i])
      // "ElectionName" ElectionDate
      // connections.push( "<li>" + dataConnector02[i]["ElectionName"] + ", " + dataConnector02[i]["ElectionData"] + ", " + dataConnector02[i]["LocalityCode"] + ", " + dataConnector02[i]["LocalityName"] + "</li>");
      // console.log(dataConnector02["ElectionName"][i]);
        connections.push("<li>Fips Code: " + dataConnector02[i] + "</li><li>Locality Name: " + dataConnector03[i]);
      }



    }
  }

  console.log("length: " + dataConnector02.length);

  var electionName = data["ElectionName"];
  var electionDate = data["ElectionDate"];
  var createDate = data["CreateDate"];
  var raceName = data["RaceName"];
  var numberOfSeats = data["NumberOfSeats"];

  var jsonOutput = electionName + electionDate + createDate + raceName + numberOfSeats;

$( "<ul/>", {
    "class": "my-new-list",
    html: connections.join( "" )
  }).appendTo(".leaflet-map-panel-box");
    })
  });
});
</script>
</html>