<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Virginia - Simple Leaflet Map</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" type="text/css" />
    <link rel="stylesheet" href="leaflet-boilerplate.css" type="text/css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<style>
.content{width:1000px; height:1000px; /** demo purposes only **/ }
</style>
  </head>
  <body>
    <div class="content">
      <div class="leaflet-map-box">
       <div id="leaflet-map" style="height:600px; width:800px;"></div>
      <div class="leaflet-map-panel-box"></div>
       
        
      </div>
    </div>
  </body>
<script>
// virginia setView settings var map = L.map('map').setView([37.750, -79.0000], 7);
// initialize the map
var map = L.map('leaflet-map').setView([37.750, -79.0000], 7);
  // load a tile layer
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
    {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> Imagery Â© <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 17,
      minZoom: 7
    }).addTo(map);



  // data.features.property
  var dataConnector01 = [];
  var key01 = []
  // load GeoJSON from an external file
  $.getJSON("virginia-counties-census-2000-novars.geojson",function(data){
    // add GeoJSON layer to the map once the file is loaded
      var countyStyle = {
    'color': "#000",
    'weight': 2,
    'opacity': 0.6
  };
  function onEachFeature(feature, layer) {
  layer.on({
    // mouseover: highlightFeature,
    // mouseout: resetHighlight,
    // click: zoomToFeature
  });
}
geojson = L.geoJson(data, {
    onEachFeature: onEachFeature,
    style: countyStyle
  }).addTo(map);

    // L.geoJson(data).addTo(map);


    $.each(data.features, function(propertyIndex, property){
      key01.push(this.properties.County);
    });

 var dataConnector02 = [];
 var dataConnector03 = [];
 var dataConnector04 = [];
 var dataConnector05 = [];
 var panelList = [];

 var keys = [];
$.getJSON( "member-senate-of-virginia-017-novars.json", function( data ) {
  console.log(data.ElectionName);
  panelList.push("<li>Election Name: " + data.ElectionName + "</li>");
  panelList.push("<li>Election Date: " + data.ElectionDate + "</li>");
  panelList.push("<li>Create Date: " + data.CreateDate + "</li>");
  panelList.push("<li>Race Name: " + data.RaceName + "</li>");
  panelList.push("<li>Number of Seats: " + data.NumberOfSeats + "</li>");
  // panelList.push("<li> :" + data.Locality.PrecinctsReporting + "</li>");
  // console.log(data.Localities)
  // console.log(data.Localities[PrecinctsReporting]);
  console.log(data.Localities[0].PrecinctsReporting)
  panelList.push("<li>PrecinctsReporting: " + data.Localities[0].PrecinctsReporting + "</li>");
  panelList.push("<li>PrecinctsParticipating: " + data.Localities[0].PrecinctsParticipating + "</li>");
  panelList.push("<li>LastModified: " + data.Localities[0].LastModified + "</li>");




  $.each(data.Localities, function(entryIndex, entry){
    // console.log(this.Locality[PrecinctsReporting]);



    dataConnector02.push(this.Locality.LocalityCode);
    dataConnector03.push(this.Locality.LocalityName);
    dataConnector04.push(this.Locality.ElectionName);
    // console.log(this.Locality.ElectionName);
    dataConnector05.push(this.Locality.ElectionDate);
    panelList.push("<li>Locality Code: " + this.Locality.LocalityCode + "</li>");
    panelList.push("<li>Locality Name: " + this.Locality.LocalityName + "</li>");
    // panelList.push("<li>Election Name: " + ElectionName + "</li>");
    // panelList.push("<li>" + dataConnector05[entryIndex] + "</li>");
  })
  // console.log("JSON Data Connector 02: " + dataConnector02);
  // console.log("KEY VAR: " + key01);


  var connections = [];
  for (i = 0; i < dataConnector02.length; i++) {
    var partA = dataConnector02[0];
    var partB = key01[i];
    // console.log(key01[i] + ", " + dataConnector02[0]);

    

    for (w = 0; w < key01.length; w++){
      var partC = key01[0];
      // var connections = [];
      if (key01[w] === dataConnector02[i]) {
        // console.log("IF STATMENT TEST: " + key01[w] + ", " + dataConnector02[i])
        connections.push("<li>Fips Code: " + dataConnector02[i] + "</li><li>Locality Name: " + dataConnector03[i]);
      }
    }
  }

  // console.log("length: " + dataConnector02.length);

  var electionName = data["ElectionName"];
  var electionDate = data["ElectionDate"];
  var createDate = data["CreateDate"];
  var raceName = data["RaceName"];
  var numberOfSeats = data["NumberOfSeats"];

  var jsonOutput = electionName + electionDate + createDate + raceName + numberOfSeats;

    $( "<ul/>", {
    "class": "leaflet-panel-list",
    html: panelList.join( "" )
  }).appendTo(".leaflet-map-panel-box");
// panelList
    })

  });
</script>
</html>